<!doctype html>
<html>
<head>

    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/Script.js"></script>
    <link href="Style.css" rel="stylesheet" />

</head>
<body ng-app="myModule" style="font-family:Arial">
    <div ng-controller="myController">

        Rows to Display: <input type="number" step="1" ng-model="rowCount" min="0" max="5" />
                         <br />
        Sort By: <select ng-model="sortColumn">
            <option value="name">Name ASC</option>
            <option value="dateOfBirth">DOB ASC</option>
            <option value="-salary">Salary DESC</option>
            <option value="gender">Gender ASC</option>
        </select>


        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>DOB</th>
                    <th>Gender</th>
                    <th>Salary</th>
                    <th>Salary</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="employee in employees | limitTo: rowCount | orderBy: sortColumn">
                    <td>{{ employee.name | uppercase}}</td>
                    <td>{{ employee.dateOfBirth | date: "dd/MM/yyyy" }}</td>
                    <td>{{ employee.gender | lowercase }}</td>
                    <td>{{ employee.salary |  number:2 }}</td>
                    <td>{{ employee.salary | currency: "₹":1}}</td>
                </tr>
            </tbody>

        </table>
    </div>
</body>
</html>